@model clover.qms.model.PCRViewModel
@*@{
    Layout = null;
}*@
    

<style>

    body {
        margin-top: 50px;
    }

    .div2 {
        margin-top: 5px;
    }

/*table {
        border-collapse: collapse;
    }*/
    
    /*table, th, td {
        border: 1px solid black;
        text-align: center;
    }*/

    th {
        text-align: center;
    }

    .modal-header {
        background-color: #83CB1E;
    }

    .container .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-content {
        width: 1200px;
        vertical-align: middle;
        margin-top: 10%;
        margin-left: 12%;
    }

    .error {
        color: red;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body style="margin-top:50px">
    <div>
        @using (Html.BeginForm("showComliance", "PCRCheckList", FormMethod.Post))
        {
            Model.listparameter = ViewBag.parameter;
            Model.listcompliance = ViewBag.compliance;
            <div>
                <h3 style="color:darkred" align="center">Compliance</h3>
            </div>

            <div class="form-horizontal" align="center" style="padding-top:20px">
                <table>
                    <tr>
                        <td>
                            <table width="350px" border="1">

                                <tr>
                                    @if (ViewBag.total == "NA")

                                    {
                                        <th style="background-color:#D3D3D3">Overall Process Compliance</th>
                                        <td>
                                            @ViewBag.total
                                        </td>
                                    }
                                    else if (Convert.ToDouble(ViewBag.total) >= 70)
                                    {
                                        <th style="background-color:#D3D3D3">Overall Process Compliance</th>
                                        <td style="background-color:#83CB1E">
                                            @ViewBag.total
                                        </td>
                                    }
                                    else
                                    {
                                        <th style="background-color:#D3D3D3">Overall Process Compliance</th>
                                        <td style="background-color:red">
                                            @ViewBag.total
                                        </td>
                                    }

                                </tr>


                            </table>
                            <br>
                            <br>

                            <table width="350px" border="1">
                                <thead>

                                    <tr>
                                        <th style="background-color:#D3D3D3">Parameters</th>
                                        <th style="background-color:#D3D3D3">Compliance</th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model.listcompliance)
                                {
                                    <tr>

                                        @foreach (var item1 in Model.listparameter.Where(x => x.parameterID == item.parameterID))
                                        {
                                            <td>
                                                @item1.parameterName
                                            </td>
                                        }
                                        @if (item.compliance.Contains("NA"))

                                        {
                                            <td>
                                                @item.compliance
                                            </td>
                                        }
                                        else if (Convert.ToDouble(item.compliance) >= 70)
                                        {
                                            <td style="background-color:#83CB1E">
                                                @item.compliance
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="background-color:red">
                                                @item.compliance
                                            </td>
                                        }
                                    </tr>

                                }
                            </table>
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>

                            <img src="@Url.Action("CharterColumn")" alt="Chart" />
                        </td>
                </table>
                <div class="div2">
                    <a href="/PCRCheckList/PCRReport" class="btn btn-info">Create PCR Report</a>
                </div>
            </div>
        }
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jqueryval")

@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  
     function Show() {

            var url = '@Url.Content("~/")' + "PCRCheckList/PCRReport/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#contentBody').html(response);
                    $('#myModal').modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
</script>
